apiVersion: apps/v1
kind: Deployment
metadata:
  name: digital-energy-twin-backend
  labels:
    app: digital-energy-twin-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: digital-energy-twin-backend
  template:
    metadata:
      labels:
        app: digital-energy-twin-backend
    spec:
      containers:
        - name: backend
          image: "{{ digital_energy_twin_backend_image }}"
          imagePullPolicy: Always
          env:
            - name: DATABASE_URL
              value: "{{ digital_energy_twin_database_url }}"
            - name: PORT
              value: "80"
          ports:
            - containerPort: {{ digital_energy_twin_backend_port | int }}
