apiVersion: v1
kind: Service
metadata:
  name: "{{ digital_energy_twin_backend_service_name }}"
  labels:
    app: digital-energy-twin-backend
spec:
  type: ClusterIP
  selector:
    app: digital-energy-twin-backend
  ports:
    - name: http
      port: 80
      targetPort: {{ digital_energy_twin_backend_port | int }}
