apiVersion: v1
kind: Service
metadata:
  name: "{{ digital_energy_twin_admin_service_name }}"
  labels:
    app: digital-energy-twin-admin
spec:
  type: ClusterIP
  selector:
    app: digital-energy-twin-admin
  ports:
    - name: http
      port: 80
      targetPort: {{ digital_energy_twin_admin_port | int }}
