SSH_HOST=your-deploy-server
SSH_USER=deploy
SSH_PORT=22
ADDON_DIR=/path/to/this/addon
PLAYBOOK_DIR=/path/to/ansible/project
SOURCE_DIR=/path/to/venv
INVENTORY=/path/to/inventory.yml
PLAYBOOK_FILE=site.yml
TAGS=addons
